*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.banner-container{
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    
}
.banner-title{
    color: #272727;
font-size: 65px;
font-weight: 800;
line-height: normal;
margin-left: 150px;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
width: 65%;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
margin-left: 120px;
}
.shop-btn{
background: #E55473;
border-radius: 8px;
border-style: none;
color: #FFF;
font-size: 15px;
font-weight: 700;
line-height: normal;
display: inline-flex;
margin-top: 20px;
margin-left: 120px;
padding: 20px 43px;
gap: 10px;
}
.banner-img{
   margin-right: 120px;
   margin-bottom: 40px;
   /* margin-top: 70px; */
   width: 635px;
   height: 800px;
}
.feature-title{
    color: #272727;
text-align: center;
font-size: 35px;
font-weight: 800;
line-height: normal;
margin-top: 170px;
}
.feature-text{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
margin-bottom: 40px;
}
.feature-img {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* .f1 .f-img {
    width: 250px;
    align-items: center;
    text-align: center;
    margin: 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

} */

.feature-img1 {
    width: 394px;
    height: 468px;
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.feature-img2 {
    width: 394px;
    height: 460px;
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}

.feature-img3 {
    width: 394px;
    height: 468px;
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

#f-1 {
    width: 294px;
    height: 441px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-top: 25px;
}

#f-2 {
    width: 350px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 80px;
    margin-left: 30px;
}

#f-3 {
    width: 304px;
    height: 461px;
    flex-shrink: 0;
    margin-left: 40px;
    margin-top: 5px;
}

.img-caption {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.caption .text {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 600;
}
.service-container{
    display: flex;
    justify-content: space-around;
    height: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.09);
    align-items: center;
    margin: 100px 200px;
}

.service-logo .logo {
    width: 60px;
    height: 60px;
}

.logo-caption {
color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 20px;
}

#l-1 {
    margin-left: 85px;
}

#text-2 {
    margin-right: 50px;
}

#l-2 {
    margin-left: 85px;
}

#l-3 {
    margin-left: 50px;
}

